<!-- This is the page that is viewed after the credentials are successfully accepted.
A normal index page would not apply in this case. -->


<h2>Welcome to the password protected area</h2>

{{#if username}}
<p>Hello, {{username}}. You signed up locally.</p>
{{/if}}

{{#if twitterName}}
<p>Hello {{twitterName}}, you signed up with Twitter.</p>
{{/if}}

<P>You signed up on {{signupDate}}</P>

<h3>Your favorite things</h3>

<P>Your favorite color is
  {{#if favorites.color}}
    {{favorites.color}}
  {{else}}
    not set
  {{/if}}</P>

<P>Your lucky number is
  {{#if favorites.luckyNumber}}
    {{favorites.luckyNumber}}
  {{else}}
    not set
  {{/if}}</P>

<h3>Update your favorite things</h3>

<ul>
  {{#each messages}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<!-- The submit form where favorite colors and numbers are sent. -->
<form action="/saveSecrets" method="POST">
  Favorite Color: <input type="text" name="color">  <br>
  Lucky Number: <input type="number" name="luckyNumber">  <br>
  <input type="submit" name="updateSecrets" value="Update Secrets">
</form>

<a href="/logout">Log out</a>
